{{#each surveys as |survey|}}
{{log survey}}
<div class="card">

  <div class="container" >
    <section>
      <h2>{{survey.title}}</h2>
      <br></br>
      <h5>description: {{survey.description}}</h5>
      <p class="handlebars-q-and-a">
        Would you rather: {{survey.question}}
        {{survey.one.title}} or
        {{survey.two.title}}
      </p>
    </section>
    <button type="button" class="btn btn-primary" data-id="{{survey._id}}" data-toggle="modal" data-target=".modal[data-id='{{survey._id}}']">Update</button>
    <button type="button" class="btn btn-dark" data-id="{{survey._id}}">Delete</button>
  </div>

  <div>
    <!-- MODAL FOR UPDATE -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-id="{{survey._id}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Update</h4>
              <!--this puts the "x" in the corner-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form class="update-survey" data-id="{{survey._id}}">
              <input type="text" class="form-control validate survey-update" name="survey[title]" placeholder="Title: {{survey.title}}" required>
              <input type="text" class="form-control validate survey-update" name="survey[description]" placeholder="Description: {{survey.description}}" required>
              <input type="text" class="form-control validate survey-update" name="survey[answer]" placeholder="Answer 1: {{survey.one.title}}" required>
              <input type="text" class="form-control validate survey-update" name="survey[answer2]" placeholder="Answer 2: {{survey.two.title}}" required>
              <button class="modal-footer btn btn-warning update" type="submit">Confirm</button>
            </form>

          </div>
        </div>
      </div>
  </div>
</div>
{{/each}}
