{{#each surveys as |survey|}}
{{log survey}}
<div class="card">
  <button type="button" class="card-header btn" data-toggle="collapse" data-target="#collapse-buttons-{{survey._id}}">
    <section>
      <h2>{{survey.title}}</h2>
      <br></br>
      <p class="handlebars-q-and-a">
        Would you rather: {{survey.question}}
        {{survey.one.title}} or
        {{survey.two.title}}
      </p>
    </section>
  </button>

  <div class="collapse sub-card" id="collapse-buttons-{{survey._id}}">
    <div class="container" >
      <button type="button" class="btn btn-primary" data-id="{{survey._id}}" data-toggle="modal" data-target=".modal[data-id='{{survey._id}}']">Update</button>
      <button type="button" class="btn btn-dark" data-id="{{survey._id}}">Delete</button>
    </div>
  </div>

  <div>
    <!-- MODAL FOR UPDATE -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-id="{{survey._id}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header update-header">
            <h5 class="modal-title">Update</h4>
              <!--this puts the "x" in the corner-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <form class="update-survey" data-id="{{survey._id}}" data-one="{{survey.one._id}}" data-two="{{survey.two._id}}>
              <input type="text" class="form-control validate survey-update" name="survey[title]" placeholder="Title: {{survey.title}}">
              <input type="text" class="form-control validate survey-update" name="survey[answer]" placeholder="Answer 1: {{survey.one.title}}">
              <input type="text" class="form-control validate survey-update" name="survey[answer2]" placeholder="Answer 2: {{survey.two.title}}">

              <button class="modal-footer btn btn-warning update" type="submit">Confirm</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{{/each}}
