{{#each surveys as |survey|}}
{{log survey}}
<div class="container" data-id="{{survey.id}}">
  <section>
<h2>{{survey.title}}</h2>
<br></br>
<h5>{{survey.description}}</h5>
<p>
  {{survey.question}}
  {{survey.answer}}
</p>
  </section>
  <button id="delete-survey" class="btn btn-dark" data-id="{{survey.id}}">Delete</button>
</div>
{{/each}}
