{{#each surveys as |survey|}}
{{log survey}}
<div class="container" data-id="{{survey._id}}">
  <section>
<h2>{{survey.title}}</h2>
<br></br>
<h5>{{survey.description}}</h5>
<p>
  {{survey.question}}
  {{survey.one.title}}
  {{survey.two.title}}
</p>
  </section>
  <button id="delete-survey" class="btn btn-dark" data-id="{{survey._id}}">Delete</button>
</div>
{{/each}}
