{{#each surveys as |survey|}}
{{log survey}}
<article class="card" data-target="{{survey._id}}">
  <div class="card-header">

      <h2>{{survey.title}}</h2>
      <br></br>
      <p class="handlebars-q-and-a">
        Would you rather: {{survey.question}}
        {{survey.one.title}} or
        {{survey.two.title}}
      </p>
    <!-- </section> -->
</div>
<div class="surveyResponse" data-id="{{survey._id}}">

  <button type="submit" data-id="{{survey.one._id}}" value="{{survey.one.title}}" name="{{survey._id}}" data-count="{{survey.one.count}}"class="btn btn-primary survey-answer-1">{{survey.one.title}}</button>
  <button type="submit" data-id="{{survey.two._id}}" value="{{survey.two.title}}" name="{{survey._id}}" data-count="{{survey.two.count}}"class="btn btn-primary survey-answer-2">{{survey.two.title}}</button>
  <div class="displayResults">

  <br>
  {{survey.one.title}} = <span class="voteOneCount">{{survey.one.count}}</span> votes
  <br>
  {{survey.two.title}} = <span class="voteTwoCount">{{survey.two.count}}</span> votes

  <br>

{{else}}
</div>

</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>


</article>
{{/each}}
