{{#each surveys as |survey|}}
  <div class="card col-md-4 handlebars-card">

    <div class="card-header" data-target="{{survey._id}}">
      <section>
        <h2>{{survey.title}}</h2>
        <br>
        <p class="handlebars-q-and-a">
          Would you rather:
          {{survey.one.title}}
          <br> -or- <br>
          {{survey.two.title}}
        </p>
      </section>
    </div>
    <div class="surveyResponse" data-id="{{survey._id}}">

      <button type="submit" data-id="{{survey.one._id}}" value="{{survey.one.title}}" name="{{survey._id}}" data-count="{{survey.one.count}}"class="btn btn-primary survey-answer-1">{{survey.one.title}}</button>
      <button type="submit" data-id="{{survey.two._id}}" value="{{survey.two.title}}" name="{{survey._id}}" data-count="{{survey.two.count}}"class="btn btn-primary survey-answer-2">{{survey.two.title}}</button>

      <div class="displayResults">
        <br>
        {{survey.one.title}} = <span class="voteOneCount">{{survey.one.count}}</span> votes
        <br>
        {{survey.two.title}} = <span class="voteTwoCount">{{survey.two.count}}</span> votes
        <br>
      </div>

    </div>

  </div>
{{/each}}
